*{
	margin: 0;
	padding: 0;
}

.main-header
{
	background-color: black;
}
.body-items
{
	background-image: url(../img/background.png);
	background-size: 100%
	background-repeat: no-repeat;
	position: bottom center;
	border-top: 3px solid white;
	border-bottom:  3px solid white;
}
.main-footer
{
	background-color: black;
}
.wrapper-change
{
	margin: 0 auto;
	max-width: 950px;
	background-color: white;
}
.wrapper-header
{
	margin: 0 auto;
	max-width: 950px;
	background-color: black;
	height: 100%;
}

.wrapper-body
{
	margin: 0 auto;
	max-width: 950px;
	
}
.footer-wrapper
{
	margin: 0 auto;
	max-width: 950px;
	background-color: black;
	height: 100%;
}
@font-face {
			font-family: "MontHeavy";
			src: url("../fonts/MontHeavy/MontHeavy.eot");
			src: url("../fonts/MontHeavy/MontHeavy.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MontHeavy/MontHeavy.woff") format("woff"),
			url("../fonts/MontHeavy/MontHeavy.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "SwankyandMooMooCyrillic";
			src: url("../fonts/SwankyandMooMooCyrillic/SwankyandMooMooCyrillic.eot");
			src: url("../fonts/SwankyandMooMooCyrillic/SwankyandMooMooCyrillic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/SwankyandMooMooCyrillic/SwankyandMooMooCyrillic.woff") format("woff"),
			url("../fonts/SwankyandMooMooCyrillic/SwankyandMooMooCyrillic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

.menu-navigation {
  font-family: "MontHeavy";
  font-size: 14px;
  margin-top : 20px;
  margin-bottom: 10px; 
  float: right;
  display: inline-block;
}

.menu-item
{	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.menu-item:nth-child(4)
{
	border-left: 1px solid white;
}
.menu {
	font-family: "MontHeavy" ;
	font-size: 14px;
    list-style: none;
}
.clearfix:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
.menu > li > a {
    display: inline-block;
    padding: 10px;
    width: auto;
    color: white;
    text-decoration: none;
}
.menu > li > a:hover: {
	color: black;
    background-color: white;
}


.menu > li > a > img
{
	position: absolute;
	left:  0;
	top:  -5px;

}
.menu > li > a:hover:last-child 
{

}
.menu-item a
{
	width: 80%;
}

.wrapper-header img
{
	position: relative;
	top: 17px;
	left: 20px;
}
.bakery 
{
	font-family: "MontHeavy";
	display: inline-block;
	color: white;
	margin-left: 150px;
	margin-top: 30px;
	font-size: 14px;
	text-decoration: none;
	list-style: none;

}
.click
{	display: block; 
    height: 100%
	background-image: url(../img/click.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.bakery > li > a
{
	font-family: "MontHeavy";
	float: left;
	color: white;
	font-size: 14px;
	text-decoration: none;
}


.bakery-item h3
{
	text-align: center;
}
.bakery-item
{
	width: 250px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
}
.bakery-item:last-child;
{
	position: relative;
	top: 30px;
	left: 125px;
}
.news
{
	background-color:rgba(255,255,255,1);
	border-bottom: 1px solid grey;
}
.news h3
{	font-family: "MontHeavy";
	padding-top: 15px;
	margin-left: 60px; 
}
.news-list
{	margin-left: 30px;
	margin-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	list-style: none;
}
.news-item
{
	padding-bottom: 15px;
}

.news a
{	font-family: "MontHeavy";
	position: relative;
	bottom: 30px;
	left: 40px;
	padding: 15px;
	background-color: black;
	color: white;
	text-decoration: none;
}
.news a:hover
{
	background-color: white;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
	color: black;
}

.visually-hidden
{
	visibility: hidden;
}
.filter-item

{	position: relative;
	font-family: "SwankyandMooMooCyrillic";
	font-size: 25px;
	line-height: 15px;
	padding-right: 15px;
	display: inline-block;
	width: auto;
	padding-left: 15px;
	height: 30px;
	border: none;	
	margin-left: -5px;
	background-color: white;
}

.items
{	
	width: 210px;
	height: 210px;
	position: relative;
}
.items img
{	text-align: center;
	width: 100%;
}
.content-box
{	display: inline-block;
	text-align: center;
	padding: 20px;
	margin: 15px;
	width: 220px;
	height: 230px;
	width: auto;
	background-color: rgba(255,255,255,1);
}


.filter
{
	float: right;
}
.shop-cake
{
	background-color:white;
}
.shop-cake h3
{
	padding-top: 20px;
	margin-left: 100px;
	font-family: "MontHeavy";
	font-size: 50px;
	color: black;
	width: 380px;
	height: 60px;
}
.shop-cake img
{
	position: relative;
	bottom: 65px;
	left: 30px;
}


.item-name
{	padding-top: 20px;
	font-family: "MontHeavy";
	font-size: 14px;
	float: left;
}

.item-name-right
{	padding-top: 20px;
	font-family: "MontHeavy";
	font-size: 14px;
	float: right;
}
.search-items
{
	text-align: center;
}

.items:hover .background
{	
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.button
{
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.background:hover .button
{
	visibility: visible;
	padding: 20px;
	background-color: black;
	color: white;
	font-family: "MontHeavy";
	text-decoration: none;

}	


.contacts
{
	float: left;
	margin: 20px;
	font-family: "SwankyandMooMooCyrillic";
	font-size:25px;
	line-height: 20px;
	color: white;
}
.logo
{	float: left;
	padding-top: 15px;
	padding-left: 50px; 
	width: 375;
}
.contacts-info
{
	padding-bottom: 10px;
}

.logo-company
{	position: relative;
	top: 120px;
	right: 50px;
	float: right;

}
.social
{	
	float: right;
	color: white;
	position: absolute;
	font-family: "MontHeavy";
	font-size: 18px;
	right: 50px;
	top: 15px;
}

.public-list li
{	
	display: inline-block;
	padding-top: 10px;
	padding-left: 10px;
	list-style: none;
	text-align: center;
}
.footer-wrapper
{
	position: relative;
}


.modal
{	position: fixed;
	display: none;
	color: white;
	background-color: black;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal-login
{	position: absolute;
	top: 200px;
	left: 38%;
	width: 300px;
	padding: 50px 80px;
}
.modal-close
{	position: absolute;
	top: 0;
	right: -35px;
	width: 21px;
	height: 21px;
	font-size: 0;
	border:0;
	cursor: pointer;
	background-color: black;
}

.modal-close::before
{
		content: "";
	position: absolute;
	top: 10px;
	left: 1px;

	width: 19px;
	height: 3px;
	background-color: white;
}	
.modal-close::after
{
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;

	width: 19px;
	height: 3px;
	background-color: white;
}
.modal-close::before
{
	transform: rotate(-45deg);
}

.modal-close::after
{
	transform: rotate(45deg);
}
.modal-login h2
{
	margin: 0;
	margin-bottom: 20px;
	font-family: "MontHeavy";
	font-size: 20px;
	line-height: 35px;
}
.modal-description
{	font-family: "MontHeavy";
	font-size: 14px;
	margin: 0;
	margin-bottom: 10px;
}
.login-form p
{
	margin: 0;
	margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"]
{	
	box-sizing: border-box;
	width: 300px;
	padding: 10px 15px;
	padding-right: 40px;

	font: "MontHeavy";
	color: #000000;
	text-transform: uppercase;
	background-color: white;
	border:2px solid #000000;

}
.login-form input:focus
{
	border-color: white;
}
.login-form .login-help
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15px 0;
}
.login-icon-user
{
	background-position: 270px center;
	background-repeat: no-repeat;
	font-family: "MontHeavy";
}


.login-icon-user
{
	background-position: 270px center;
	background-repeat: no-repeat;
	font-family: "MontHeavy";
}

.login-checkbox
{	font-family: "MontHeavy";
	position: relative;
	padding-left: 5px;	
	cursor: pointer;
}

.login-checkbox:hover, .login-chekbox:focus
{
	color: grey;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator
{
	position: absolute;
	top: 0;
	left: -5px;
	width: 17px;
	height: 17px;

	border: 2px solid white;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator
{
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after
{
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;

	width: 15px;
	height: 2px;

	background-color: white;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before
{
	transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after
{
	transform: rotate(-45deg);
}

.restore
{	float: right;
	font-family: "MontHeavy";
	color: white;
	text-decoration: underline;

}

.restore:hover,
.restore:focus
{
	text-decoration: none;
}
 .button-login
{	
	width: 100%;
	margin-right: 0;
	border:none;
	height: 40px;
	background-color: white;
	font-family: "MontHeavy";
	font-size: 15px;
}	

.modal-map
{	display: none;
	top: 30%;
	left: 30%;
	border: 5px solid black;
}
.modal-map p {
	margin:0;
}

.click 
{
	position: relative;
	top: 20px;
	left: 50px;
	background-image: url(../img/click.png);
}
.click img
{	
	width: 200px;
	position: absolute;
	top: -70px;
	left: -65px;
}

#back-top {
    position: fixed;
    bottom: 0px;
    padding: 0px;
    left: 50%;  
    margin-left: 500px;
    z-index:99991;
    }
#back-top a{
    width: 77px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    display:block;
    text-decoration:none;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-align: center;
    color: black;
     
    }
 
#back-top a:hover{
    height: 70px;
    background: white;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: black;
    }

.change-block
{
	background-color: white;
	padding: 15px;
	height: 100%;
}
.row{
	width: 100%;
}
.row h3
{	float: left;
	font-size: 20px;
	font-family: "MontHeavy";
}
.cake-info
{	float: right;
	width: 100%;
	float: right;
	background-color: white;
}


.button-size
{		
	text-align: center;
	width: 100px;
	padding: 10px;
	background-color: black;
	color: white;
	font-family: "MontHeavy";
	margin:0;
}

